{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>New Thread</h5>
                </div>
                <div class="panel-body">
                    {% include 'threads/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

