{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Forum Threads
                </div>
                <div class="panel-body">
                    {% for thread in threads %}
                        <article>
                            <a href="{{ path('thread_show', {'slug': thread.slug, 'channelSlug': thread.channel.channelSlug }) }}">
                                <h4>{{ thread.title }}</h4>
                            </a>
                            <div class="body">{{ thread.body }}</div>

                            <hr>
                        </article>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    {% if threads.haveToPaginate %}
                        <div class="navigation text-center">
                            {{ pagerfanta(threads, 'twitter_bootstrap3_translated', {routeName: 'threads_index_paginated'}) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}